.posts {
  width: 90%;
  max-width: 50rem;
  margin: var(--size-8) auto;
}

.posts h2 {
  font-size: var(--size-8);
  color: var(--color-grey-800);
  text-align: center;
}

/* table and above screen */
@media (min-width: 768px) {
  .posts h2 {
    font-size: var(--size-16);
  }
}
